

*{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: blue;
    text-align: center;
    border-width: 2px;
    padding: 0.2em;   
    background: aquamarine;
}
h1 {
    color: crimson;
}
#send-button, #reply-button {
    border-width: 2.5px;
    padding: 0.4em;
    border-color: orange;
    color: black;
    width: 10%;
    height: 5%;
}

#message-input{
    width: 20%;
    height: 5%;
    border-color: darkgoldenrod;
    padding: 0.2em;
    color: black;
}

