.split {
    height: 100%;
    width: 50%;
    position: fixed;
    z-index: 0.2;
    top: 0;
    overflow-x: hidden;
}

.left{
    left: 0;
    background-image: linear-gradient(120deg, grey, orange);
}

.right{
    right: 0;
    background-image: linear-gradient(60deg, grey, blue);
}

.centered {
    position: absolute;
    text-align: center;  
    top: 5%;
    left: 30%
}

#heading{
    position: absolute;
    width: 300px;
}

header .header-menu {
    flex-grow: 1;
    display: fixed;
    align-items: center;
    justify-content: flex-center;
    color: grey;
    font-size: large;
}

main {
    text-align: center;
}

main #display-content {
    padding: 20px;
}


modal-backdrop.visible {
    display: block;
}

.modal {
    display: none;
    position: absolute;
    padding: 10px;
    border: solid 1px gray;
    background-color: honeydew;
    z-index: 99999;
    width: 300px;
    height: 300px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.modal.visible {
    display: block;
}

.modal-content {
    width: 250px;
    height: 250px;
}

#edit-content-text {
    width: 100%;
    box-sizing: border-box;
}

#edit-title{
    width: 300px;
    padding: 2px;
}



#input-task{
    padding: 10px 35px;
    color: black;
    font-size: large;
}

#add-task{
    padding: 10px 25px;
    font-size: 24px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: rgb(206, 124, 30);
    border: none;
    border-radius: 15px;
}

ul{
    list-style-type: '\2713';
    display: center;
}

li{
    
    position: center;
    width: 250px;
    background: gold;
    padding: 3px;
    color: black;
    border-radius: 4px;
    border-style: none;
    margin-bottom: 3px;
}

#completed-list li{
    position: center;
    width: 250px;
    background: rgb(198, 206, 84);
    margin: 0;
    padding: 3px;
    color: black;
    border-radius: 4px;
    border-style: none;
    margin-bottom: 3px;
} 


